.top-bar {
  padding-block: 24px;
  @include contentPaddingInline;

  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (min-width: 576px) {
    padding: 64px 72px;
  }
}

.top-bar__icons {
  display: flex;
  gap: 24px;
}

.top-bar__logo {
  display: flex;
}
